#content{
	line-height: 0;
	background-color: #253D5B;
}

.main{
	background-color: #253D5B;
	text-align: left;
	line-height: 1 !important;
}

.highScore {
	background-color: #67697C;
	text-align: center;
	border-radius: 25px;
	width: 95%;
	margin-left: 2%;
	margin-right: 10%;
}
.high{
	color: #84BCDA;
	text-align: center !important;
}

.funFacts {
	background-color: #67697C;
	text-align: center;
	border-radius: 25px;
	width: 95%;
	margin-left: 2%;
	margin-right: 10%;
}
.Facts{
	color: #84BCDA;
	text-align: center !important;
}

.Contact {
	background-color: #67697C;
	text-align: center;
	border-radius: 25px;
	width: 95%;
	margin-left: 2%;
	margin-right: 10%;
}
.contact{
	color: #84BCDA;
	text-align: center !important;
}

.me{
	text-align: center;
}

.welcome{
	text-align: center;
}

#h1, #h2, #h3, #h4 {
	text-align: center;
}

.facts{
	text-align: left !important;
}

.fix{
	position: fixed !important;
	top: 10px !important;
	right: 10px !important;
	text-align: none !important;
}